<html xmlns:th="http://www.thymeleaf.org">
	<body>
 <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer" th:fragment="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Planeta Hobby</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                           1148 Jerez de la Frontera
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:(388) 425 - 1232">(388) 425 - 1232</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@planetahobby.com.ar</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Productos</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Secciones</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Inicio</a></li>
                        <li><a class="text-decoration-none" href="#">Categor&iacute;a</a></li>
                        <li><a class="text-decoration-none" href="#">Oferta</a></li>
                        <li><a class="text-decoration-none" href="#">Empresa</a></li>
                        <li><a class="text-decoration-none" href="#">Contacto</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4 ">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-6 me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribirse</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Programaci&oacute;n Visual 
                            | Dise&ntilde;ado por <a rel="sponsored" href="https://templatemo.com" target="_blank">Marisel A. Yapura</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
    
		<!--<footer class="text-white bg-dark" id="footer" th:fragment="footer">

		    <div class="row text-center py-4 container m-auto p-auto">
		  	<div class="col-md-4">
		  		<h5 class="text-uppercase">Informacion de la tienda</h5>
		  		<div class="py-2  text-secondary">
		  			<p>&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp;Direcci&oacuten: Planeta Hobby <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calle Zambia, 13 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11480 Jerez de la Frontera<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Argentina (Jujuy)</p>
		  			<p>&nbsp;<i class="fas fa-envelope"></i>&nbsp;info@planetahobby.com.ar</p>
		  			<p>&nbsp;<i class="fas fa-phone-alt"></i>&nbsp;(388) 425 - 1232</p>
		  		</div>
		  	</div>
		  	<div class="col-md-4">
		  		<h5 class="text-uppercase">Nuestra empresa</h5>
		  		<div class="py-2">
		  			<ul class="formato-lista text-secondary">
		  				<li>
		  					<a>Empresa</a>
		  				</li>
		  				<li>
		  					<a>Aviso Legal</a>
		  				</li>
		  				<li>
		  					<a>Pol&iacute;tica de Cookies</a>
		  				</li>
		  				<li>
		  					<a>Condiciones de compra</a>
		  				</li>
		  				<li>
		  					<a>Contacte con nosotros</a>
		  				</li>
		  			</ul>
		  		</div>
		  	</div>
		  	<div class="col-md-4">
		  		<h5 class="text-uppercase">Bolet&iacute;n de noticias</h5>
		  		<div class="d-flex justify-content-center mt-3 mb-2">
			  		<form class="form-inline">
					  <div class="form-group mx-sm-3 mb-2 ">
					    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					  </div>
					  <button type="submit" class="btn btn-primary mb-2">Ok</button>
					</form>
				</div>
				<p class="text-secondary">Puede darse de baja en cualquier momento.<br> Para ello, consulte nuestra informaci&oacute;<br> de contacto en el aviso legal.</p>
		   </div>
		   <div class="col-md-12 border-top">
		   	 <div class="mt-4  text-secondary">
		  		<i class="fab fa-facebook-square fa-2x"></i>
		  		<i class="fab fa-twitter-square fa-2x"></i>
		  	 </div>
		   </div>
		</div>
		<div class="bg-footer-header col-sm-12 p-0 m-0 m-auto p-auto">
			<h6 class=" text-center py-3 mb-0 text-white">Copyright &copy; 2021 Programaci&oacute;n Visual</h6>
		</div>
		</footer>-->
	</body>
</html>